*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #090b1a; }

.container {
  width: 85%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: #1b1938;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 59rem) {
    .container {
      flex-direction: row-reverse;
      height: 60%;
      width: 70%;
      margin-top: 18rem; } }
  .container__picture {
    width: 100%;
    background-color: #aa5cdb; }
    .container__picture--img {
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply; }
      @media only screen and (min-width: 59rem) {
        .container__picture--img {
          min-width: 300px; } }
  .container__text {
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem 1rem; }
    @media only screen and (min-width: 59rem) {
      .container__text {
        min-width: 350px;
        padding: 3rem 6rem;
        font-size: 2rem; } }
    .container__text--heading {
      margin-top: 2rem; }
      .container__text--heading--bold {
        color: #aa5cdb; }
    .container__text--paragraph {
      color: rgba(255, 255, 255, 0.6);
      margin-top: 2rem;
      font-size: 1.7rem;
      line-height: 2.5rem; }
  .container__stats {
    margin-top: 4rem; }
    @media only screen and (min-width: 59rem) {
      .container__stats {
        display: flex;
        justify-content: space-around; } }
    .container__stats__box--p {
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.6);
      font-size: 1rem;
      letter-spacing: 0.1rem;
      margin: 1rem 0 3rem 0; }

.attribution {
  font-size: 11px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75); }

.attribution a {
  color: #3e52a3; }
